html,body{
	min-height: 100%;
}
body{
	display: inline-block;
	width: 100%;
	font-family: "思源黑体",Rebot,"PingFang SC","SF UI Display","黑体";
}
img{
	width: 100%;
	height: auto;
}
p,body{
	margin: 0;
	color: #3D464D;
}
a{
	color: #333;
	text-decoration: none;
	font-size: 14px;
}
header h3 {
	text-align: center;
	margin: 0;
	line-height: 2em;
	color: #FFF;
	font-size: 18px;
	background: #3dce3d;
}
ul{
	list-style:none;
	margin: 0;
	padding: 0;
}
.clearfix:after{
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
}
.clearfix{
	zoom: 1;
}

header{
	height: 35px;
	line-height: 35px;
	text-align: center;
	padding: 0 16px;
}
a.publish{
	float: left;
	font-size: 1
}
span.search{
	width: 16px;
	display: inline-block;
	float: right;
}
.banner{
	background: url("../images/0.jpg") 50% 50% no-repeat;
	min-height: 200px;
	background-size: cover;
	position: relative;
	color: #FFF;
	text-align: center;
}
.masker{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}
.content{
	position: absolute;
	width: 100%;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
}
.content h3{
    font-size: 20px;
    margin: 0;
    line-height: 3em;
}
.content p{
	color: #FFF;
}
.banner img{
	max-height: 200px;
	object-fit: cover;
}
.kind-nav li{
	float: left;
	padding: 0 12px;
	font-size: 13px;
}
.kind-nav li.active{
	color: #3DCE3D;
	font-size: 15px;
}
.list-box{
	background-color: #f3f3f3;
}
.list-box .data-li{
	display: flex;
	display: -webkit-flex;
	-webkit-flex-flow:row;
	flex-flow: row;
	margin: 0 auto;
	padding: 8px 12px;
	margin: 8px 0;
	background-color: #FFF;
}
a.icon-60{
	width: 60px;
	height: 60px;
	border-radius: 12px;
	overflow: hidden;
	margin-right: 14px;
	position: relative;
}
.icon-60:before {
	position: absolute;
	content: "";
	border-radius: 12px;
	border: .5px solid rgba(0,0,0,.2);
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: block;
	box-sizing: border-box;
}
.data-li img{
	width: 100%;
	height: auto;
	background: #f0f5fc no-repeat 50%;
	background-size: 75% 75%;
}
.data-li img.code{
	width: auto;
	height: auto;
	position: absolute;
	right: 15px;
	margin-top: 19px;
}
.data-li img.largeCode{
	position: fixed;
	width: 50%;
	left: 25%;
	display: none;
}
.data-li .app-content{
	flex: 1;
	-webkit-box-flex: 1;
	width: 45%; 
	min-height: 66px;
}
.data-li h3{
	margin: 0 0 6px;
	font-size: 16px;
	color: #333;
	font-weight: lighter;
}
.data-li p{
	line-height: 1.5em;
	margin: 0;
	font-size: 13px;
	color: #3D464D;
}
.data-li .appinfo{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
a.btn{
	width: 56px;
	margin: 5px auto;
	height: 27px;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	display: block;
	line-height: 27px;
	font-size: 12px;
}
.btn-green{
	background-color: #3dce3d;
	color: #FFF;
}
.btn-green-outline{
	background-color: transparent;
	color: #3dce3d;
	border: 1px solid;
}

.kind-nav{
	background-color: #FFF;
	position: relative;
}
.kind-nav ul{
	width: 98%;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.kind-nav ul.active{
	height: auto;
	overflow: visible;
}
.kind-nav .btn-more{
	position: absolute;
	right:10px;
	top:6px;
	margin: 0;
	width: 16px;
}

.large{
	position: fixed;
	background-color: #FFF;
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 25px 6px;
	display: none;
}
.large img{
	width: 100px;
	height: auto;
}
.large h4{
	margin: 15px;
	font-weight: lighter;
	font-size: 18px;
}
.large p{
	font-size: 12px;
}
.large.active{
	display: inline-block;
}
.mask{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.63);
	top: 0;
	display: none;
}
.mask.active{
	display: inline-block;
}
.container{
	padding-top: 1px;
	background-color: #f3f3f3;
}