<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>摩拜单车|5G在线</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/swiper.min.css">
</head>
<body>
	<div class="data-li">
		<a href="javascript:void(0);" class="icon-90">
			<img src="../images/code/moby.jpg" alt="摩拜单车">
		</a>
		<div class="app-content">
			<h3>摩拜单车</h3>
			<p class="click-info">
				<span>100次点击</span> | <span>娱乐</span>
			</p>
			<p class="appinfo">厦门大仙愉快哈高科</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<h3>摩拜单车 介绍</h3>
			<p>说的了刚好客户的可可可可建军节建军节建军节的反馈结果看见个哦人品好</p>
		</div>
		<div class="row">
			<h3>摩拜单车 截图</h3>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="../images/code/moby_scrs.jpg" alt="摩拜单车截图"></div>
					<div class="swiper-slide"><img src="../images/code/moby_scrs.jpg" alt="摩拜单车截图"></div>
					<div class="swiper-slide"><img src="../images/code/moby_scrs.jpg" alt="摩拜单车截图"></div>
				</div>
			</div>
		</div>
	</div>

	<script src="../script/swiper.min.js"></script>
	<script>
		var swiper = new Swiper('.swiper-container', {
			slidesPerView: 2,
			spaceBetween: 30
		});  
  </script>
	</script>
</body>
</html>