<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>发布程序</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<form class="publish-form" action="#">
		<div class="form-group">
		<h4>名称</h4>
			<input type="text" id="name" class="form-control">
		</div>
		<div class="form-group">
			<h4>作者</h4>
			<input type="text" id="author" class="form-control">
		</div>
		<div class="form-group clearfix">
			<h4>Logo、二维码</h4>
			<p class="info">未绑定公众号，可不上传公众号二维码</p>
			<div class="upload">
				<span>+</span>
				<p>上传icon</p>
			</div>
			<div class="upload">
				<span>+</span>
				<p>上传二维码</p>
			</div>
			<div class="upload">
				<span>+</span>
				<p>上传公众号二维码</p>
			</div>
		</div>
		<div class="form-group">
			<h4>作者</h4>
			<textarea name="detail" id="detail" rows="3"></textarea>
		</div>
		<div class="form-group">
			<h4>分类</h4>
			<p class="kinds">
				<span>交通</span>
				<span>旅游</span>
				<span>生活</span>
				<span>购物</span>
				<span>教育</span>
				<span>儿童</span>
				<span>社交</span>
				<span>阅读</span>
				<span>新闻</span>
				<span>娱乐</span>
				<span>健康医疗</span>
				<span>摄影与录像</span>
				<span>财务</span>
				<span>商业指南</span>
				<span>公益</span>
				<span>效率</span>
				<span>音乐</span>
				<span>工具</span>
				<span>报刊杂志</span>
				<span>体育</span>
				<span>天气</span>
				<span>其他</span>
			</p>
		</div>
		<div class="form-group clearfix">
			<h4>截图</h4>
			<p class="info">不多于5张</p>
			<div class="upload">
				<span>+</span>
			</div>
		</div>
		<div class="btn btn-full btn-green">发布</div>
	</form>
</body>
</html>